/* CSS do Mania Pet*/
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: Arial,sans-serif;
	line-height: 1,6;
	backgroud-color: #f4f4f4;
}

.container{
	ma-widht: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

header h1{
	margin: 0;
	font-size: 24px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-decoration: none;
	font-size: 18px;
}

nav ul li a{
	color: #fff;
	text-decoration; none;
	font-size: 18px;
}

.hero{
	background-image: url('hero.jpg');
	background-size: cover;
	color: #fff;
	text-aligh: center;
	padding: 100px 0;
}

.hero h2{
	font-size: 36px;
	margin-bottom: 20px;
}

.hero p{
	font-size: 20px;
	margin-bottom: 20px;
}

.btn{
	display: inline-block;
	background-color: #f39c12;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
	transtiton: background-color 0.3s ease;
}

.btn:hover{
	background-color: #e67e22;
}

.services h2{
	font-size: 30px;
	margin-bottom: 30px;
}

.service-item{
	margin-bottom: 30px;
}

.service-item img{
	max-width: 100%;
	border-radius: 5px;
}

.service-item h3{
	font-size: 24px;
	margin-bottom: 10px;
}

.service-item p{
	font-size: 18px;
	line-height: 1.5;
}

footer{
	backgroud-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	widht: 100%;
}
	